<p>UNO product works!</p>
<div class="card mt-5" [hidden]="clienteService.ticket">
    <div class="card-body">

        <!-- Cuando el evento onSubmit , suceda se va pasar todo el formulario 'productForm' -->
        <form #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)">

            <!-- TO UPDATE -->
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="clienteService.selectedCliente.$key">

            <div class="form-group">
                <input type="text" class="form-control" name="nombre" #name="ngModel"
                    [(ngModel)]="clienteService.selectedCliente.nombre" placeholder="Nombre">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="dui" #category="ngModel"
                    [(ngModel)]="clienteService.selectedCliente.dui" placeholder="Dui">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="nombreM" #name="ngModel"
                    [(ngModel)]="clienteService.selectedCliente.nombreM" placeholder="Nombre Mascota">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="tratamiento" #category="ngModel"
                    [(ngModel)]="clienteService.selectedCliente.tratamiento" placeholder="Tratamiento">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="medicamento" #name="ngModel"
                    [(ngModel)]="clienteService.selectedCliente.medicamento" placeholder="Medicamento">
            </div>

            <div class="form-group">
                <input type="number" class="form-control" name="costo" #location="ngModel"
                    [(ngModel)]="clienteService.selectedCliente.costo" placeholder="Costo">
            </div>
            

            <div class="form-group">
                <button class="btn btn-primary" type="submit" [hidden]="clienteService.ticket2">
                    <i class="fas fa-plus-circle"></i> Agregar CLiente
                </button>
                <button class="btn btn-primary" type="submit" [hidden]="!clienteService.ticket2">
                  <i class="fas fa-plus-circle"></i> Agregar CLiente
              </button>
                <button class="btn btn-secondary" type="reset" (click)="resetForm(clienteForm)">
                    <i class="fas fa-sync-alt"></i> Reset
                </button>
            </div>
        </form>
    </div>
</div>

 <!-- Apartado de ticket  -->   
 <div id="pdf" [hidden]="!clienteService.ticket">
    <h2>Los datos de la compra</h2>
    <div class="row mb-2">
        <div class="col-md-8">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              
              <h5 class="mb-0 text-muted" >Nombre: {{clienteService.selectedCliente.nombre}}</h5>
              <strong class="d-inline-block mb-2 text-muted">Dui: {{clienteService.selectedCliente.dui}}</strong>
              <strong class="d-inline-block mb-2 text-muted">Mascota: {{clienteService.selectedCliente.nombreM}}</strong>
              <strong class="d-inline-block mb-2 text-muted">Tratamiento: {{clienteService.selectedCliente.tratamiento}}</strong>
              <strong class="d-inline-block mb-2 text-muted">Medicamento: {{clienteService.selectedCliente.medicamento}}</strong>
            </div>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              
  
                <!----Aqui empieza la otra parte -->
  
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                      <span class="text-muted">Factura</span>
                    <!--  <span class="badge badge-secondary badge-pill">#Visitas: {{visitas}}</span>-->
                    </h4>
                    <ul class="list-group mb-6">
                      <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                          <h6 class="my-0"> Costo:</h6>
                          
                        </div>
                        <span class="text-muted">{{clienteService.selectedCliente.costo}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                          <h6 class="my-0">Descuento</h6>
                          
                        </div>
                        <!--<span class="text-muted">{{descuentot}}</span>-->
                      </li>
                                              
                      <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                      <!--  <strong *ngIf="montot!=0">${{montot}}</strong>-->
                      </li>
                    </ul>
            </div>
            
          </div>
        </div>
      </div>
  <button class="btn btn-primary" (click)="apareceForm()">Regresar al formulario</button>
      <br><br>
      <button class="btn btn-primary" (click)="download()">Descargar factura</button>
   </div>
  