input,select {
    width: 30%;
}

.container1{
    margin-left: 60px;
}
.error
{
  color: red; 
}
table {     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
    margin: 45px;     
    width: 900px; 
    text-align: left;    
    border-collapse: collapse; 
    position: relative;
    left:25%;
    top:-650px;
}

th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;     
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039; 
    text-align: center;
}

td {    
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
    text-align: center;
}

tr:hover td { 
    background: #d0dafd; 
    color: #339; 
}

h4{
    padding-top: 4px;
    text-align: center;
    color:white;
}

.form-group {
    padding-right:30%;
}

label {
    color:black;
    font-size: medium;
}

h1{
    padding-top: 10px;
    color:black;
}